#weather-app {
  min-height: calc(100vh - 50px - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.weather-wrapper {
  background: var(--card);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  width: 100%;
  max-width: 500px;
}

.weather-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-display span {
  font-weight: 900;
}

@media (max-width: 400px) {
  .weather-display {
    flex-direction: column;
  }
}
