@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90vw;
  max-width: 1220px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
}

.user-info {
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.show-user-info {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 300px;
}

label {
  align-self: flex-start;
  font-size: 12px;
}

select {
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.submit-btn {
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: none;
  background-color: lightblue;
}

.error {
  color: #ff0000;
  text-align: center;
  padding: 1rem;
  border: 1px solid #ff0000;
  font-weight: 600;
  display: none;
}

.show-error {
  display: block;
}
.result {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.show-result {
  display: flex;
}

.result-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 0.4rem;
}

.result-container h3 {
  font-weight: 900;
}

.result-container h1 {
  font-weight: 900;
  font-size: 40px;
  text-align: center;
}
.close-btn {
  padding: 0.7rem;
  border-radius: 0.4rem;
  border: none;
  background: #ff0000;
  color: #fff;
  font-weight: 900;
  display: none;
}

.show-close-btn {
  display: block;
}

ul {
  list-style: none;
}
